<!doctype html>
<html lang="en">
<head>
    {{ template "templates/meta" }}
</head>
<body>
<header>
    {{ template "templates/header" }}
</header>

<main>
    <h2>Visits</h2>
    <form action="/admin/visits" method="get">
        <div>
            <label for="start">Start:</label>
            <input id="start" type="datetime-local">
        </div>
        <div>
            <label for="end">End:</label>
        </div>
    </form>
</main>

<footer>
    {{ template "templates/footer" }}
</footer>
</body>
</html>
