<!doctype html>
<html lang="en">
<head>
    {{ template "templates/meta" . }}
    <link rel="stylesheet" href="../../style/main.css">
</head>
<body>
<header>
    {{ template "templates/header" . }}
</header>

<main>
    <form class="grid" action="/admin/login" method="post">
        <input class="row" type="text" placeholder="Username" id="username" name="username">
        <input class="row" type="password" placeholder="Password" id="password" name="password">
        <button class="row" type="submit">Login</button>
    </form>
</main>
<footer>
    {{ template "templates/footer" . }}
</footer>
</body>
</html>
