form
{
    border:  1px solid #000000;
    padding: 1em;
}

input, textarea
{
    font:       1em sans-serif;
    box-sizing: border-box;
    border:     1px solid #999999;
}

input:focus, textarea:focus
{
    border-color: #000000;
}

textarea
{
    vertical-align: top;
    height:         5em;
}

.grid .row
{
    display:    flex;
    margin-top: 0.5em;
}

.grid .row > *
{
    flex: 50%;
}
